<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body style="background-color: #caebff;">



<div align="center" style="position=absolute; margin-top: -25px; margin-left: -25px; margin-right: -25px;">
  <a href="/" style="color: #f0db5b; text-decoration: none">
    <h1 align="center" style="background-color:#417690; border-bottom: 6px solid lightblue; padding: 8px;">
        Cattle-Monitor
    </h1>
  </a>
</div>



<div align="left" style="position: relative; top: 24px; padding: 8px;">
  <h3>
    {{msg}}<br><br><br>
  </h3>
</div>


<table>
  <tr>
    <th>Tag</th>
    <th>Boi Id</th>
    <th>Hora da Leitura</th>
    <th>Pasto Original</th>
    <th>Pasto Atual</th>
  </tr>
  
  {% for tagzinha in tagslidas %}
   <tr>
     <td>{{tagzinha.tagrfid.tag_code}}</td>
     <td>{{tagzinha.tagrfid.boi_id}}</td>
     <td>{{tagzinha.read_time}}</td>
     <td>{{tagzinha.tagrfid.pasto_original}}</td>
     <td>{{tagzinha.pasto_localizado}}</td> 
   </tr>
  {% endfor %}
  

</table>



</body>
</html>

